.container-container {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 0px;
  flex-direction: column;
  background-color: #5b5b5b;
}
.container-hero-heading {
  color: var(--dl-color-gray-white);
  width: 503px;
  height: 100%;
  font-size: 5rem;
  max-width: 800px;
  min-width: var(--dl-size-size-medium);
  align-self: center;
  text-align: center;
  font-family: "Raleway";
  line-height: 2.5;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  text-transform: lowercase;
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.container-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container-hero-button1 {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 30px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1rem;
  background-color: var(--dl-color-primary1-blue100);
}
.container-hero-button1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.container-hero-button11 {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 30px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1rem;
  background-color: var(--dl-color-primary1-blue100);
}
.container-hero-button11:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.container-hero-button12 {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 30px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1rem;
  background-color: var(--dl-color-primary1-blue100);
}
.container-hero-button12:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.container-hero-button13 {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 30px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1rem;
  background-color: var(--dl-color-primary1-blue100);
}
.container-hero-button13:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.container-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 86px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container-hero-button14 {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xsmall);
  font-size: 25px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 30px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1rem;
  background-color: var(--dl-color-primary1-blue100);
}
.container-hero-button14:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
@media(max-width: 991px) {
  .container-container {
    height: 100%;
    margin: 0px;
    padding: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
  }
  .container-hero-heading {
    width: 451px;
    text-align: center;
  }
  .container-container1 {
    width: 100%;
    height: var(--dl-size-size-small);
    margin: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .container-hero-button14 {
    width: var(--dl-size-size-maxwidth);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .container-container {
    width: 100%;
    height: 383px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    flex-direction: column;
    background-color: transparent;
  }
  .container-hero-heading {
    color: #ffffff;
    width: auto;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    font-size: 4rem;
    max-width: 100%;
    min-width: auto;
    align-self: center;
    line-height: 1.5;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .container-btn-group {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 188px;
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    flex-direction: row;
  }
  .container-hero-button1 {
    width: auto;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-twounits);
    font-size: 20px;
    border-radius: 40px;
  }
  .container-hero-button11 {
    width: auto;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-twounits);
    font-size: 20px;
    border-radius: 40px;
  }
  .container-hero-button12 {
    width: auto;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-twounits);
    font-size: 20px;
    border-radius: 40px;
  }
  .container-hero-button13 {
    width: auto;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-twounits);
    font-size: 20px;
    border-radius: 40px;
  }
  .container-container1 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .container-hero-button14 {
    width: 100%;
    height: var(--dl-size-size-xsmall);
    padding: var(--dl-space-space-unit);
    font-size: 30px;
    border-radius: 40px;
  }
}
